<table class="table-data">
    <tbody>
        <div *ngFor="let period of tableData">
            <tr>
                <td *ngFor="let atom of period.atoms">
                    <div>
                        <div class="pt-cell otherComponenets">
                            <p class="cellNumb">{{atom.number}}</p>
                            <h1 class="elementLetters text-center">{{atom.symbol}}</h1>
                            <p class="elementInfo text-center">{{atom.atomicMass}}</p>
                            <p class="elementInfo text-center">{{atom.name}}</p>
                        </div>
                        <!-- <app-table-cell></app-table-cell> -->
                    </div>
                </td>
            </tr>
        </div>
    </tbody>
</table>